-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: lms
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `contentitems`
--

DROP TABLE IF EXISTS `contentitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contentitems` (
  `content_id` int NOT NULL AUTO_INCREMENT,
  `section_id` int NOT NULL,
  `title` varchar(255) NOT NULL,
  `estimated_duration_min` int DEFAULT NULL,
  `learning_objectives` text,
  `workflow_status` enum('Planned','Scripted','Editing','Recording','Post-Editing','Uploaded','Under Review','Published') NOT NULL DEFAULT 'Planned',
  `video_link` text,
  `editor_feedback` text,
  `review_notes` text,
  `uploaded_by_editor_id` int DEFAULT NULL,
  PRIMARY KEY (`content_id`),
  KEY `section_id` (`section_id`),
  KEY `uploaded_by_editor_id` (`uploaded_by_editor_id`),
  CONSTRAINT `contentitems_ibfk_1` FOREIGN KEY (`section_id`) REFERENCES `coursesections` (`section_id`) ON DELETE CASCADE,
  CONSTRAINT `contentitems_ibfk_2` FOREIGN KEY (`uploaded_by_editor_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1008 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contentitems`
--

LOCK TABLES `contentitems` WRITE;
/*!40000 ALTER TABLE `contentitems` DISABLE KEYS */;
INSERT INTO `contentitems` VALUES (1001,51,'Stack Implementation',60,'Understand LIFO principle.','Published','external.com/stack.mp4',NULL,NULL,11),(1002,51,'Queue Implementation',45,'Understand FIFO principle.','Under Review','external.com/queue.mp4',NULL,NULL,11),(1003,51,'Linked List Basics',50,'Define Nodes and Pointers.','Uploaded',NULL,NULL,NULL,11),(1004,51,'Tree Traversal',70,'Differentiate traversal methods.','Scripted',NULL,NULL,NULL,NULL),(1007,50,'Data Structure Overview',30,'Identify common data structures.','Planned',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `contentitems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contentscripts`
--

DROP TABLE IF EXISTS `contentscripts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contentscripts` (
  `script_id` int NOT NULL AUTO_INCREMENT,
  `content_id` int NOT NULL,
  `presentation_file_data` longblob,
  `materials_file_data` longblob,
  PRIMARY KEY (`script_id`),
  UNIQUE KEY `content_id` (`content_id`),
  CONSTRAINT `contentscripts_ibfk_1` FOREIGN KEY (`content_id`) REFERENCES `contentitems` (`content_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contentscripts`
--

LOCK TABLES `contentscripts` WRITE;
/*!40000 ALTER TABLE `contentscripts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contentscripts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `course_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `course_code` varchar(50) DEFAULT NULL,
  `description` text,
  `status` enum('Draft','Awaiting Review','Active','Archived') NOT NULL DEFAULT 'Draft',
  PRIMARY KEY (`course_id`),
  UNIQUE KEY `course_code` (`course_code`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
INSERT INTO `courses` VALUES (101,'Data Structures','CS201','Advanced concepts in Data Structures.','Active'),(102,'Basics of Programming','CS101','Introduction to fundamental programming principles.','Active');
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coursesections`
--

DROP TABLE IF EXISTS `coursesections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coursesections` (
  `section_id` int NOT NULL AUTO_INCREMENT,
  `course_id` int NOT NULL,
  `title` varchar(255) NOT NULL,
  `order_index` int NOT NULL,
  PRIMARY KEY (`section_id`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `coursesections_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`course_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coursesections`
--

LOCK TABLES `coursesections` WRITE;
/*!40000 ALTER TABLE `coursesections` DISABLE KEYS */;
INSERT INTO `coursesections` VALUES (50,101,'Unit 1: Introduction to Data Structures',1),(51,101,'Unit 2: Stack and Queue',2);
/*!40000 ALTER TABLE `coursesections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `can_edit_courses` tinyint(1) NOT NULL DEFAULT '0',
  `can_manage_system` tinyint(1) NOT NULL DEFAULT '0',
  `can_upload_content` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin',1,1,1),(2,'Teacher',1,0,0),(3,'Editor',0,0,1);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usercourseassignment`
--

DROP TABLE IF EXISTS `usercourseassignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usercourseassignment` (
  `user_course_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `course_id` int NOT NULL,
  PRIMARY KEY (`user_course_id`),
  UNIQUE KEY `user_id` (`user_id`,`course_id`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `usercourseassignment_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `usercourseassignment_ibfk_2` FOREIGN KEY (`course_id`) REFERENCES `courses` (`course_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usercourseassignment`
--

LOCK TABLES `usercourseassignment` WRITE;
/*!40000 ALTER TABLE `usercourseassignment` DISABLE KEYS */;
INSERT INTO `usercourseassignment` VALUES (1,2,101),(2,2,102),(5,10,101),(6,10,102);
/*!40000 ALTER TABLE `usercourseassignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `role_id` int NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` text NOT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,1,'admin@clg.edu','hashed_admin_pw','Super','User','2025-11-08 08:29:32'),(2,2,'teacher@clg.edu','hashed_teacher_pw','Professor','Smith','2025-11-08 08:29:32'),(3,3,'editor@clg.edu','hashed_editor_pw','Mike','Editor','2025-11-08 08:29:32'),(10,2,'prof.smith@clg.edu','teacher_hash','Professor','Smith','2025-11-13 10:11:05'),(11,3,'mike.editor@clg.edu','editor_hash','Mike','Editor','2025-11-13 10:11:05');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-13 15:49:27
